body{
	background-image: url("https://images-na.ssl-images-amazon.com/images/I/81BdXuVeEvL.jpg");
}
p{
	font-family: 'EB Garamond', serif;
	color:#ffd966;
}
h1{
	font-family: 'Charmonman', cursive; 
	font-size: 50px; 

}
#main{
width: 800px;
height: 1000px;
margin: auto;
border: #ffd966 ridge 4px;
background-color: #4f4f4f;
}

li{
	font-family: 'EB Garamond', serif;
	color:#ffd966;
}

.comic{
	width:100%;
	text-align:center;
}
#footer{
	font-family: 'Charmonman', cursive;
	color:#ffd966;
	font-size: 20px;
}
